{% extends "templates/vTemplate_Blank.twig" %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
	<h2 class="error-404__title">404</h2>
	<p class="error-404__subtitle">Oops. Desculpel, não fossível encontrar essa página</p>
	<a class="error-404__button button button--square button--medium button--secondary c-secondary" href="{{ base_url }}">Voltar para a home</a>
{% endblock %}