{% extends "templates/vTemplate_Blank.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}


{% if tasks is empty  %}
<h2>: ) - Por hora não há mais nada pra fazer!</h2>
<br>
{% endif %}

<div class="col-12 {% if tasks is empty  %}hidden{% endif %}">
	<div class="row">
		<table class="display table table-striped" data-table="data-table">
			<thead>
				<tr>
				    <th>Tarefas</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
                <form>
                    <input id="site" type="hidden" value="{{ site }}" />
                    {% for task in tasks %}

                        {% if task.status == 0 %}
                            <tr id="mytask{{ task.id }}">
                                <td>
                                    <div class="form-group form-check">
                                        <input id="check{{ task.id }}" onclick="check('{{ task.id }}')" type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label id="task{{ task.id }}" class="form-check-label" for="exampleCheck1">{{ task.task }}</label>
                                        <input id="status{{ task.id }}" type="hidden" value="{{ task.status }}" />
                                        <div id="editnow{{ task.id }}" class="hidden">
                                            <div class="form-row">
                                                <div class="col-9">
                                                    <input type="text" id="newtask{{ task.id }}" class="form-control" value="{{ task.task }}">
                                                </div>
                                                <div class="col">
                                                    <button onclick="confirm('{{ task.id }}')" class="btn btn-primary mb-2">ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><button type="button" class="btn btn-warning" onclick="edit('{{ task.id }}')">Editar</button>
                                <button type="button" class="btn btn-danger" onclick="del('{{ task.id }}')">Deletar</button></td>
                            </tr>
                        {% else %}
                           <tr id="mytask{{ task.id }}">
                                <td>
                                    <div class="form-group form-check">
                                        <input id="check{{ task.id }}" onclick="uncheck('{{ task.id }}')" type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                        <label id="task{{ task.id }}" class="form-check-label complete" for="exampleCheck1">{{ task.task }}</label>
                                        <input id="status{{ task.id }}" type="hidden" value="{{ task.status }}" />
                                        <div id="editnow{{ task.id }}" class="hidden">
                                            <div class="form-row">
                                                <div class="col-9">
                                                    <input type="text" id="newtask{{ task.id }}" class="form-control" value="{{ task.task }}">
                                                </div>
                                                <div class="col">
                                                    <button onclick="confirm('{{ task.id }}')" class="btn btn-primary mb-2">ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><button type="button" class="btn btn-warning" onclick="edit('{{ task.id }}')">Editar</button>
                                <button type="button" class="btn btn-danger" onclick="del('{{ task.id }}')">Deletar</button></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </form>
			</tbody>
		</table>
	</div>
</div>

<div id="create" class="hidden">
    <div class="form-row">
        <div class="col-9">
            <input type="text" id="newtask" class="form-control" />
        </div>
        <div class="col">
            <button onclick="create()" class="btn btn-primary mb-2">Adicionar</button>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" onclick="add()">Adicionar tarefa</button>
<br><br>
{% endblock %}